*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 100%;
  background-color: #008080;
}

li {
  font-size: 0.6em;
  font-weight: 500;
}

.hello h1{
  font-size: 3em;
  text-align:center;
  font-weight: 900;
  color : #b14257;
  padding-top:18vh;
  font-family: 'Dosis', sans-serif;
}

section h2{
  font-size: 3em;
  text-align:center;
  font-weight: 900;
  color:white;
  padding-top:1em;
  font-family: 'Dosis', sans-serif;
}

section h3{
  font-size: 2.5em;
  text-align:center;
  font-weight: 600;
  color:white;
  padding-top:5vh;
  font-family: 'Dosis', sans-serif;
}
.section5 h3{
  font-size: 2.5em;
  text-align:center;
  font-weight: 600;
  color:white;
  padding-top:2vh;
  font-family: 'Dosis', sans-serif;
}

#title{
  text-align: center;
  width: 100%;
  top: 40%;
  color: white;
  font-size: 3em;
  position: fixed;
  z-index: 10;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
}
#triangle-up {
  width: 0;
  height: 0;
  border-left: 100vw solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 100vh solid #16a085;
  transition: 2s ease-in-out;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
}

#triangle-down {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 100vw solid transparent;
  border-top: 100vh solid #16a085;
  transition: 2s ease-in-out;
  float: left;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}

#button,
#menu {
  position: fixed;
  z-index: 2;
  opacity: 1;
  width: 11vh;
  height: 11vh;
  bottom: 200px;
  left: calc(50% - 5.5vh);
  background-color:#A92D45;
  border: none;
  border-radius: 50%;
  font-family: 'Dosis', sans-serif;
  color: white;
  font-size: 4em;
  transition: transform .5s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.5);
}

#button:focus,
#menu:focus {
  outline: 0;
}

#button:hover {
  transform: scale(1.2);
}

#button:active {
  transform: scale(1.1);
}

#menuContent {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
  z-index: 3;
  opacity: 1;
  overflow: hidden;
}

#menuContent ul, #menuContent a {
  font-size: 2em;
  font-weight: 900;
  height: 100%;
  color: #b92b42;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  text-decoration:none;
  transition:.2s ease-in-out;
}

#menuContent a:hover{

  color: #bc7984;
  transition:.2s ease-in-out;
}

#menuContent li {
  margin-bottom: 20px;
  animation: itemsInefade 2s forwards;
  opacity: 0;
}

@keyframes itemsInefade {
  0% {
    opacity: 0;
    margin-left:60px;
  }
  100% {
    opacity: 1;
    margin-left:0;
  }
}
#menuContent li:nth-child(2) {
  animation-delay: .2s
}
#menuContent li:nth-child(3) {
  animation-delay: .4s
}
#menuContent li:nth-child(4) {
  animation-delay: .6s
}

#menuContent #menuClose {
  position: absolute;
  top: 20px;
  right: 70px;
  color: white;
  font-size:2em;
  transition:.2s ease-in-out;
  cursor: pointer;
}

#menuContent #menuClose:hover{
  opacity:1;
  transition:.2s ease-in-out;
}

.krassInefade {
  transform: perspective(900px) translateZ(0px);
  opacity: 1;
  transition: 2s ease-out;
}

#triangle-down.usenand {
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  border-top: 100vh solid #1abc9c;
  transition: 2s ease-in-out;
}

#triangle-up.usenand {
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 100vh solid #16a085;
  transition: 2s ease-in-out;
}

#menu.toMenu {
  left: 80px;
  bottom: 80px;
  background-color: #16a085;
  font-size : 3vh;
  opacity: 1;
  width: 10vh;
  height: 10vh;
  transition: 2s ease-in-out;
  border: 0 solid white;
  border-radius: 50%;
}

#menu.menuTransition {
  width: 100%;
  height: 100%;

  border-radius: 0;
  bottom: 0;
  left: 0;
  transition: .5s ease-in-out;
}
#small, #small2{
  font-size: 0.5em;
  display: inline-block;

}

section{
  height:100vh;
  overflow: hidden;
}

.section1{
  background-color:#8fc4ba  ;
}
.section2{
  background-color:#71bcae;
}
.section3{
  background-color:#4ab29e;
}
.section4{
  background-color:#329999 ;
}
.section5{
  background-color:#008080;
}

.middle{
  text-align: center;
  margin-top: 10vh;
}
.middlend{
  text-align: center;
  margin-top: 4vh;
}
.middletext{
  width: 50%;
  margin : 10vh auto 0vh auto;
}
a.button {
  border-radius: 50%;
  box-shadow: 1px 3px 3px #666666;
  color: #8fc4ba;
  font-size: 34px;
  background: #cb3e59;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
}

a.button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

p,li{
  color: white;
  font-size : 1.5em;
}

.contact{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0em;
  background-color: #008080
}
.faa-parent{
  width: 7em;
}
.big {
  width: 30em;
}
.link{
  color: #cb3e59;
  text-decoration: none;
}
.form{
  width: 27em;
  background-color: #4ab29e;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  height: 17em;
  font-size: 1.4em;
  line-height: 1.5;
  border: 0.2em solid #cb3e59;
  border-radius: 1em;
}

.form p{
  margin-top : 0.5em;
}
.form input{
  height:2em;
  width: 15vw;
}
.form textarea {
  width: 15vw;
  height:5em;
  margin-top: 1.5em;
  resize:none;
}
.testname{
  width: 6.5em;
  float: left;
  margin-left: 1.5em;
}
.envoi{
  margin: 2em auto;
  position:relative;
  width:7em;
  font-size: 1em;
  display:block;
  text-decoration:none;
  border-radius:0.5em;
  border:solid 0.15em #b24a5e;
  text-align:center;
  color: #cb3e59;
  background-color: transparent;
  padding: 0.5em 1em;
  cursor: pointer;
}
.envoi:hover{
  background-color: #b24a5e;
  color: white;
}
.envoi:active{
  transition-duration:0.2s;
  background-color: teal;
}


.social{
  text-align: center;
  margin-top: 2em;
  margin-bottom: 0em;
}
.social a{
  color: #cb3e59;
  margin: 5em;
  margin-bottom: 0em;
}





/* ------------------------------------------------------------------------
 ANIMATIONS :
 ------------------------------------------------------------------------ */
 .hidden{
   visibility: hidden;
 }
 .hidden2{
   display: none;
   margin-bottom: none;
   padding-bottom: none;
 }
 .hidden3{
   display: none;
   margin-bottom: none;
   padding-bottom: none;
 }
 .visible2{
   height: 1.5em;
   font-size: 1.3em;
   text-align:center;
   font-weight: 700;
   color : #b14257;
   font-family: 'Dosis', sans-serif;
   margin-bottom: none;
   padding-bottom: none;
 }
.slide-in-top {
	-webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-left {
	-webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-blurred-left {
	-webkit-animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-left 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
.focus-in-expand {
	-webkit-animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.roll-in-right {
	-webkit-animation: roll-in-right 0.8s ease-out both;
	        animation: roll-in-right 0.8s ease-out both;
}
.vibrate-30 {
	-webkit-animation: vibrate-3 0.5s linear infinite both;
	        animation: vibrate-3 0.5s linear infinite;
          color: #714232;
          display: inline-block;
}
.vibrate-3 {
	-webkit-animation: vibrate-3 0.5s linear infinite both;
	        animation: vibrate-3 0.5s linear infinite;

}
.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}
.wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 1.5s infinite both;
	        animation: wobble-hor-bottom 1.5s infinite both;
}
.focus-in-contract-bck {
	-webkit-animation: focus-in-contract-bck 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract-bck 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          color: #702c15;
          height: 1.5em;
}


@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}



@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
            transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
            transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}


@keyframes vibrate-3 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  90% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}


@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}


@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
